/* 
COLOR SHADES 
*/
.color-shade-tile {
  width: 100px;
  height: 100px;
  border-radius: 24px;
}

/* DARK MODE */
.color-shade-native-dark {
  background-color: #00253a;
}

.color-shade-bloo-30-dark {
  background-color: #00314d;
}

.color-shade-bloo-20-dark {
  background-color: #044468;
}

.color-shade-bloo-10-dark {
  background-color: #52c1ff;
}

.color-shade-primary-dark {
  background-color: #03a4ff;
}

/* FONT COLOR */
.color-shade-bloo-10-dark-font {
  color: #52c1ff;
}

/* 
TEXT BLOCK
*/
.text-block-large {
  width: 120px;
  height: 18px;
  border-radius: 9px;
}

.text-block-medium {
  width: 120px;
  height: 12px;
  border-radius: 6px;
}

.text-block-small {
  width: 120px;
  height: 8px;
  border-radius: 6px;
}
/*
TYPOGRAPHY 
*/
.typography-bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.typography-semi-bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.typography-medium {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

/* 
IMAGE BOX
 */
.image-box-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 375px;
  height: 370px;
  background: #00314D;
  border: 2px solid #03A4FF;
}

.image-box-icon {
  width: 77.68px;
  height: 63.33px;
}

/* 
Shape
*/
.shape-square{
  width: 100px;
  height: 100px;
  background: #044468;
  border: 2px solid #03A4FF;
}

.shape-circle{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #044468;
  border: 2px solid #03A4FF;
}

.shape-triangle{
  width: 0;
  height: 0;
  position: relative;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #044468;
}

.shape-triangle:before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 97px solid red;
  /* border-top: solid 48px white; */
  top: 2px;
  left: -48px;
}

/* LOGO */
.logo-cont {
  display: flex;
  width: 496.06px;
  height: 180px;
  align-items: center;

  background: white;
  border: 1px dashed #0093ED;
  border-radius: 24px;
}

.logo-cont-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.logo-cont-title {
  padding-left: 20px;
  color: #0093ED;
  font-size: 130px;
}
/*
INPUT 
 */
 .input{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 327px;
  height: 64px;
  border: 2px solid #03A4FF;
  border-radius: 16px;
 }

 .input-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
 }

 .input-pos{
  justify-content: space-between;
 }